#a
{
    padding: 10PX;
    text-align: center;
    height: 100px;
    
    
}

#b{
    background-color: rgb(105, 105, 231);
}
#l{
    position: relative;
    left: 320px;
    text-decoration: underline rgb(44, 3, 194);
}
#j{
   
    position: relative;
    left: 300px;
    text-decoration: underline rgb(44, 3, 194);
}

#c{
    background-color: rgb(198, 255, 142);
}

#d{
    background-color: rgb(198, 255, 142);
}

#e{
    background-color: rgb(198, 255, 142);
}

#f{
    background-color: rgb(198, 255, 142);
}

#g{
    background-color: rgb(198, 255, 142);
}

#h{
    background-color: rgb(198, 255, 142);
}

#i{
    background-color: rgb(198, 255, 142);
}
#k{
    background-color: rgb(198, 255, 142);
}

#m{
    background-color: rgb(198, 255, 142);
}

#n{
    background-color: rgb(198, 255, 142);
}

#o{
    background-color: rgb(198, 255, 142);
}

#p{
    background-color: rgb(198, 255, 142);
}

#q{
    background-color: rgb(198, 255, 142);
}

#r{
    background-color: rgb(198, 255, 142);
}

#s{
    background-color: rgb(198, 255, 142);
}

#t{
    background-color: rgb(198, 255, 142);
}

#w{
    background-color: rgb(198, 255, 142);
}

#x{
    background-color: rgb(198, 255, 142);
}

#y{
    background-color: rgb(198, 255, 142);
}

#z{
    background-color: rgb(198, 255, 142);
}

#ab{
    background-color: rgb(198, 255, 142);
}

#ac{
    background-color: rgb(198, 255, 142);
}

#ad{
    background-color: rgb(198, 255, 142);
}

#ae{
    background-color: rgb(198, 255, 142);
}
